.section-title {
	text-align: center;
	padding-top: 2rem; 
	padding-bottom: 1rem; 
}

.subsection-title {
	padding-top: 2rem; 
	padding-bottom: 1rem; 
}

section {
    margin-left: 8rem;
	margin-right: 8rem;
	margin-top: 2rem;
}

.anchor {
    padding-top: 50px; /* default Bootstrap navbar height */
}

/* project cards and their stacked items (project dates, role, grant, website) are of the same background color */
.card-body, ul.list-group > li {
	background-color: #F0ECE3 !important;
}

/* a small space between the project title + tags and the list-group */
ul.list-group {
	margin-top: 15px;
}

ul.list-group {
	border: none;
}

.progress {
	height: 8px;
	width: 100px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.progress-bar {
	width: 100%; 
	background-color: orange !important;
}

.badge > a {
	color: white !important;
	text-decoration: none;
}

.citation {
	border: none; 
	background-color: transparent;
}

/* .publications > li { */
	/* margin: 20px 0; */
/* } */

.inline-span {
	display: inline;
}

.description {
	color: grey;
}

/* for list descriptions, the color needs to be set on each individual li element */
.description > ul > li {
	color: grey;
}

.logo {
	width: 50px;
}

/* tables with the same number of columns have columns of the same size (which is not default in Bootstrap as it fits the content */
.my-table-two, .my-table-three, .my-table-four {
    width: 100%;
    table-layout: fixed;
}

/* two column tables */
.my-table-two td:nth-child(1) {
    width: 85%;
}
.my-table-two td:nth-child(2) {
    width: 15%;
}

/* three column tables */
.my-table-three td:nth-child(1) {
    width: 10%;
}
.my-table-three td:nth-child(2) {
    width: 75%;
}
.my-table-three td:nth-child(3) {
    width: 15%;
}

/* four column tables */
.my-table-four td:nth-child(1) {
    width: 10%;
}
.my-table-four td:nth-child(2) {
    width: 15%;
}
.my-table-four td:nth-child(3) {
    width: 65%;
}
.my-table-four td:nth-child(4) {
    width: 10%;
}

/* flush right the open details buttons for project cards */
.card-body > .collapse-button {
	text-align: right;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* add some space between the project card items and the text */
.list-group-item > i {
	margin-right: 1rem;
}

/* black font-awesome icons when there are links */
a > i {
	color: black !important;
}
/* 

a:not(.nav-link, .navbar-brand) {
    color: rgb(0, 0, 255) !important;
}

.navbar {
    background-color: #110f16 !important;
    font-size: 1rem;
}

.navbar-dark .navbar-nav a.nav-link {
    color: white;
    text-decoration: none;
}

.active {
    background-color: #ff8000;
    color: black !important;
    border-radius: 5px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-inline: 0.5rem;
}

#orcidLink {
    background-color: rgb(174, 204, 84);
    font-size: 0.8rem;
}

#linkedinLink {
    background-color: rgb(44, 102, 188) !important;

}

@media only screen and (max-width: 800px) {
    #photo {
        display: none;
    }
    #intro {
        padding-right: 0;
    }
}

*/
