section {
    margin: 2rem 2rem 0 2rem; /* top right bottom left */
}

.old {
    background-color: gray;
}

.currentpast {
    text-align: center;
}

p {
    font-size: 16px !important;
}

a:not(.nav-link, .navbar-brand) {
    color: rgb(0, 0, 255) !important;
}

.ml-i {
    margin-left: 1.5rem !important;
}

.mr-i {
    margin-right: 0.3rem !important;
}

.navbar {
    background-color: #110f16 !important;
    font-size: 1rem;
}

.navbar-dark .navbar-nav a.nav-link {
    color: white;
    text-decoration: none;
}

.active {
    background-color: #ff8000;
    color: black !important;
    border-radius: 5px;
}

.linkCollapse {
    margin-right: 1rem;
}

.fa-file-pdf {
    color: red;
}

.right-align {
    text-align: right;
}

.anchor {
    padding-top: 90px;
}

.social-icons {
    display: flex;
    justify-content: center;
}


.social-icons a {
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-inline: 0.5rem;
}

#orcidLink {
    background-color: rgb(174, 204, 84);
    font-size: 0.8rem;
}

#linkedinLink {
    background-color: rgb(44, 102, 188) !important;

}

@media only screen and (max-width: 800px) {
    #photo {
        display: none;
    }
    #intro {
        padding-right: 0;
    }
}
.img_home {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    font-size: 0.9rem;
}

.rotatedImage {
    transform: rotate(90deg);
}

.myImage {
    height: 100%;
    width: 100%;
}

table tr td {
    padding: 0.3rem;
}

table tr th {
    padding: 0.3rem;
}

table.rounded-corners {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid black;
}

/* Apply a border to the right of all but the last column */
table.rounded-corners th:not(:last-child),
table.rounded-corners td:not(:last-child) {
 border-right: 1px solid black;
}

/* Apply a border to the bottom of all but the last row */
table.rounded-corners>tbody>tr:not(:last-child)>th,
table.rounded-corners>tbody>tr:not(:last-child)>td {
 border-bottom: 1px solid black;
}