# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Compute latest website and CV document

permissions:
  contents: read

on:
  push:
    branches:
      - '**'
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python3 --version
        python -m pip install --upgrade pip
        pip install python-docx
    - name: Run main
      run: |
        python3 --version
        pwd
        ls
        cd generate-cv/generate-cv/
        python3 main.py
